<?xml version="1.0" encoding="UTF-8" ?>
<widget
	xmlns="http://www.w3.org/ns/widgets"
	xmlns:gap="http://phonegap.com/ns/1.0" 
	id="com.classcoder.classmanager"
	versionCode="0021"
	version="0.0.2.1">
	<name>ClassManager</name>
	<description>See who's left your classroom and for how long! When students leave your classroom, you rarely track them. This application will track when students leave the classroom and how long they were gone when they get back.</description>
	<author href="http://classcoder.com" email="classcoder@brenhamk-12.net">ClassCoder</author>
	
	<gap:platform name="ios" />
	<gap:platform name="android" />
	
	<access origin="*" />
</widget>
